<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{/fragments/header :: head}"></div>
    <title th:text="${pizza.name}"></title>
</head>

<body>
    <header>
        <!-- Navbar -->
        <nav th:replace="~{fragments/navbar :: navbar('pizzas')}"></nav>
   </header>
    <main>
        <div class="container my-3" th:object="${pizza}">
            <h1 th:text="*{name}"></h1>

            <hr />
            <div class="row">
                <div class="col-8">
                    <dl>
                        <dt></dt>
                        <dd th:text="*{picture}"></dd>
                        <dt>Pizza</dt>
                        <dd th:text="*{name}"></dd>
                        <dt>Prezzo</dt>
                        <dd th:text="|*{price} €|"></dd>
                        <th:block th:if="${#strings.isEmpty(description)}">
                            <dt>Descrizione</dt>
                            <dd th:text="*{description}"></dd>
                        </th:block>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3>Discounts</h3>
                    <div class="mb-2">
                        <!-- Creazione di una nuova offerta -->
                        <a class="btn btn-success" th:href="@{|/pizzas/${pizza.id}/discounts|}">
                            <!-- @{'/pizzas/{id}/discounts'(id=${pizza.id})} -->
                            Aggiungi offerta speciale
                        </a>
                    </div>
                    <table class="table table-striped" th:if="${pizza.discounts.size() > 0}">
                        <thead>
                            <tr>
                                <th>Titolo</th>
                                <th>Valore offerta</th>
                                <th>Inizio offerta</th>
                                <th>Fine offerta</th>
                            </tr>
                            <tbody>
                                <tr th:each="discount : ${pizza.discounts}">
                                    <td th:text="${discount.title}"></td>
                                    <td th:text="|${discount.discountPercentage} %|"></td>
                                    <td th:text="${discount.startDiscount}"></td>
                                    <td th:text="${discount.endDiscount}"></td>
                                </tr>
                            </tbody>
                        </thead>
                    </table>
                    <div th:unless="${pizza.discounts.size() > 0}">
                        <div class="alert alert-primary">
                            Non ci sono offerte speciali per questa pizza.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div th:replace="~{fragments/header :: bootstrapScript}"></div>
</body>

</html>